SPOTIPY_CLIENT_ID=your_client_id
SPOTIPY_CLIENT_SECRET=your_client_secret
SPOTIPY_REDIRECT_URL=http://localhost/callback
HOST_ORIGIN=http://localhost:8000
# Opcional: credenciales para docker-compose
SPOTIFY_USERNAME=spotify_username
SPOTIFY_PASSWORD=spotify_password
