<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TS CANVAS</title>
  <link rel="stylesheet" href="../static/stylelist.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header>
    <h1>Taylor Swift Spotify Canvas (Beta)</h1>
    <h2> This is a collection of Taylor Swift's Spotify Canvas videos. </h2>
    <h2> ARCHIVE</h2>
<ol style="--length: 5" role="list" href="/oldCanvas">
	<li style="--i: 1" href="/oldCanvas">
		<h3><a href="/oldCanvas">December 2022? </a></h3>
		<p> I think this is from December 2022 cus I started working on this back in the day</p>
	</li>
	<li style="--i: 2">
		<h3><a href="/DecemberCanvas">April 2023 </a></h3>
		<p>12 April 2023 22:48HRS MX TIME</p>
	</li>
</ol>
<!-- partial -->
  
</body>
</html>