<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>canvas_url</th>
      <th>album_name</th>
      <th>song_name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/cdea0f00b2ff40a78f58e16171d62001.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Lavender Haze</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/39cbd2609c084c049eff6d8d1d59b800.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Maroon</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/1650363f5a4b49d0a59716616dd2e2fe.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Anti-Hero</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/2ab523410cf245d585d33a32edfe3611.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Snow On The Beach (feat. Lana Del Rey)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/902bf49203144cc9baba38e2b0ef7e59.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>You're On Your Own, Kid</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7447459d2a934dbe9fa9f292e4f1ff65.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Midnight Rain</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/95c0d65c738b4df9a243c179a6e5613f.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Question...?</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b3580b9517114411b3584e1d9ebcb4cd.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Vigilante Shit</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/16b9c105067e40e985635c1361b07306.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Bejeweled</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/5fb4a27dfe27498eb1111307ab26ee08.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Labyrinth</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/11f816457e9c47b0bbedec7faad84f94.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Karma</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/49af09bad49f439a8675c81a02de5c33.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Sweet Nothing</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/536f841fcff944298f88b3a0a955427c.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Mastermind</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/e058858fc8324f2ba3d6574ba860eb9c.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>The Great War</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/fdd35f914e8046978761a83fba511648.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Bigger Than The Whole Sky</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/e8e68596c49941b9a84e0e8955ffaa0f.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Paris</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7f6d96d2db654fe49f9f9bfe4ced9608.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>High Infidelity</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/a9a7a3e8c6494944a1fedc3ebbc14c06.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Glitch</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b4ed75a3e5fd4b4a8b48fc41cc8a8a70.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Would've, Could've, Should've</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/9a0dcaaf53834be393194cd49e1efbf8.cnvs.mp4</td>
      <td>Midnights (3am Edition)</td>
      <td>Dear Reader</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/ebc40c0ea6734abbb3206c580e4841d1.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>State Of Grace (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7fce8f098c7642419561cebcf94044e9.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Red (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/fc76607d7092427f91f7b408d83dc43f.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Treacherous (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/d23a0c916bff480c862bfb8ebed5ad9d.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>I Knew You Were Trouble (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/6e520dd92fca4d89b02a5f4cd1e806f3.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>All Too Well (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b1e14ec25c7a4247982377d425c028b2.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>22 (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/a4760ad3767147b2a9c67ae52b933687.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>I Almost Do (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/19d4abb30667482dbf3ada2a4a1fcc68.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>We Are Never Ever Getting Back Together (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/1fc7c089af2046f8bf320221f9a89ec7.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Stay Stay Stay (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/2e99bb0530394392ba5b7a2cada2518d.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>The Last Time (feat. Gary Lightbody of Snow Patrol) (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b150f09a63334bb6959378b634876ecf.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Holy Ground (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/73a59e2e433141659a7813016f114196.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Sad Beautiful Tragic (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7f9aea62cc9447daaf354569861d27ed.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>The Lucky One (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b0079113b5f54056888dc24138157ae0.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Everything Has Changed (feat. Ed Sheeran) (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/167a5556eb4c4417963cffa229899c81.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Starlight (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/cdecc4b3a9c94015805acb0c5660627a.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Begin Again (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/4332bed16cf4455fbe6ce97ad5cf0d48.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>The Moment I Knew (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/722ba29a491f4f9ba3f4293fdccded38.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Come Back...Be Here (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/959d10fcec674cd984bffc7276f5b75d.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Girl At Home (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7388119d1fff4675be8cd766d8e0899c.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>State Of Grace (Acoustic Version) (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/d856d97870244e399994bcc21634a0e1.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Ronan (Taylor's Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/c52f9e955f4347edb61aaafaf7a0ea68.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Better Man (Taylor's Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/8e5a93a0a5a640cea1487128e0155fcd.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Nothing New (feat. Phoebe Bridgers) (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/0b26713402034a1bb31cf5b7de0c48e4.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Babe (Taylor's Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/9c37143bcebb438cbfaaf3efc01bc976.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Message In A Bottle (Taylor's Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/1648e340b08a4df39784d911c742f1a1.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>I Bet You Think About Me (feat. Chris Stapleton) (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/48c8c657b7244279a9b27b331d2dfab4.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Forever Winter (Taylor's Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/5a32f5f696694c9cbe3a434eb74800a0.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>Run (feat. Ed Sheeran) (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b1394ad8d8a34d0aaeb3a6c036ff2ea5.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>The Very First Night (Taylor's Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/6e500f6338774e94b71b9688047b5880.cnvs.mp4</td>
      <td>Red (Taylor's Version)</td>
      <td>All Too Well (10 Minute Version) (Taylor's Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/1547992d12904510afffd0b78eec471a.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Fearless (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/6fae9f52987d44949926cbcdb5d1ed0d.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Fifteen (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/ca864463a5554609b4f013a9212070f9.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Hey Stephen (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/7917d8ebe4964fe1856ecb36b83f45e5.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>White Horse (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/ff1e4f9c3dd14109b54b980f5e1b9e4b.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>You Belong With Me (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/7aa3fecb9b37446cb1eb5ef4c1a5f8d7.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Breathe (feat. Colbie Caillat) (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/b018e27a5eea4256b5cee269abb00742.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Tell Me Why (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/2fa346ea78d846a79cc00875380f7560.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>You’re Not Sorry (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/ac1298a93c3040b4b3d2613ce384bb81.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>The Way I Loved You (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/e3b31bcc51034b4abd448b82eea9760b.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Forever &amp; Always (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/1656b45462a840dd8c195cb9ca9350c3.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>The Best Day (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/6e8cfb6928a647e6b00b844beafc73b7.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Change (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/5f0f14188cbd4947a2a7bd987a3f13d8.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Jump Then Fall (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/79aa8e0f63554a25a34a9edd9f41d807.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Untouchable (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/60f849d0fa0c4d7897ac94bf1402c339.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Forever &amp; Always (Piano Version) (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/35a309f847da4be0a6c073b3b5ba1d78.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Come In With The Rain (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/9a57be589812447abbcf1ea4bb18861e.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Superstar (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/3eb35c5aaea4419daed44b945a78a80f.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>The Other Side Of The Door (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/fb38716ea83e40a28f05d01177c617c6.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Today Was A Fairytale (Taylor’s Version)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/57aa96a0e74c4a6ba50439554d9ce4e7.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>You All Over Me (feat. Maren Morris) (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/72210e8cdd5a4f66b27733cee2dc56e3.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Mr. Perfectly Fine (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/bb47ae929aad447db5aef07bf9e7381c.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>We Were Happy (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/cfeff8b3ae964356956037ec65bd0a7e.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>That’s When (feat. Keith Urban) (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/16fc05a665ae4d2c99d0a7dfb0d4e519.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Don’t You (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/licensor/7JGwF0zhX9oItt9901OvB5/video/81747846cb0944b4bd598002e1760008.cnvs.mp4</td>
      <td>Fearless (Taylor's Version)</td>
      <td>Bye Bye Baby (Taylor’s Version) (From The Vault)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/f456e58a281f4d7da1e5fbc591fa2aac.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>willow</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/2ca3ce96ff49428499d80aa528038b2e.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>champagne problems</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/baa0787b8e054e418cf2ee4cc2858771.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>gold rush</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/67e4e0b7799a4bdc858d622ea4880c7e.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>‘tis the damn season</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/fa806128381c4c4cba4a128597e52454.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>tolerate it</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/68cd1f822297470d8ff1781a94183531.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>no body, no crime (feat. HAIM)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/fcec10ff36db42ada4f4457171df1238.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>happiness</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/70f98d6c09b942e78f571c98d216f10c.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>dorothea</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b1a9496702234515abbdc4b7acb1433c.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>coney island (feat. The National)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/599c2b4ee1594e40ac37316c54df70cb.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>ivy</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/f29e87114c714ee88d63078c2499fbd9.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>cowboy like me</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b500305c70384067b9711d355c7fc4f6.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>long story short</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/a73653981c14409298233358d7de76b3.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>marjorie</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/768b0364e23645929fc2bec208df451f.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>closure</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/a74def423c7241e38475fc5e0ae61251.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>evermore (feat. Bon Iver)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/906b4e30d08a4e378cec48fe79a2e070.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>right where you left me - bonus track</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/304ac6beb3c54179a97a02aea7462519.cnvs.mp4</td>
      <td>evermore (deluxe version)</td>
      <td>it’s time to go - bonus track</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/13203fdc6e5d46579584066d9779fae9.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>the 1</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/c8071e6ac7694233a179f8ef77445c08.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>cardigan</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/81e3608a30004d49a2ff157634d6dce6.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>the last great american dynasty</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/05f87148a24947aa8c1e195c352ecb24.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>exile (feat. Bon Iver)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/9046711a6a3c45d583761448c8dfd70e.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>my tears ricochet</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/77eeee93eb8c4630b8af49ba65cbb18c.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>mirrorball</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7fce2928f34541448b7d4bf465e3768c.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>seven</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/c8663424eda242d98e1b49513e96ff3b.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>august</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/d547c4b48ea94d8a83ba1d2829b8b289.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>this is me trying</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/6797b2d02f78481889f687ab55f037cf.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>illicit affairs</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/a57f6cb18dcb4edcb3f0d88d3034c8d3.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>invisible string</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/52ecc05501404c4a870f63e56bea8255.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>mad woman</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/c80652f6e89f487fb5982bc6105b4bd8.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>epiphany</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/8ec707ed031a4ff3b1469cef110eb465.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>betty</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/18f10555985d46e18689719d739d7b3a.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>peace</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7ef66841df38454ca35b18e42b6e7db1.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>hoax</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/31a9fffa94c04e6685d9dbc9778200f8.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>the lakes - bonus track</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/22c39e2e6f02404aa302e7150dbde24c.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>the 1 - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/ac2e8499547b4faa98187eae8d6cceeb.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>cardigan - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/86d73cfd0f4041b78dd2b3f5356b70ab.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>the last great american dynasty - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/a2e7dbf6e31e4182b70c1c269414732c.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>exile (feat. Bon Iver) - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/1023b8329abc400ebd74d40652d2a0cc.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>my tears ricochet - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/88c20676c0534e8aa563aacd9cc6e0c3.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>mirrorball - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/a86f2ccde5af41b5a98128acbcc0940f.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>seven - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7f8bc9dd64334b5aa80e364d8a5d7fb3.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>august - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/1540fb85ccbf4dea817554685529eaa1.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>this is me trying - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/1ba9da26e24043208068de2ae12687c4.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>illicit affairs - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/e2e01d09444a4d548a7bf92e23b5f779.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>invisible string - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/445cfc4241ba4adc9308baf34e2b49b0.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>mad woman - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/59e0734683ef4d2195d62f2287111f0c.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>epiphany - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/f335d46657fd4069a65083e6a2fa49a8.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>betty - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/e3f97ddca69a454dbdeb8c46ab25e85c.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>peace - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/7588d90492f14656baaf482bd5c5933a.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>hoax - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/493ad3ae20b14f6aa19195c2fbeef791.cnvs.mp4</td>
      <td>folklore: the long pond studio sessions (from the Disney+ special) [deluxe edition]</td>
      <td>the lakes - the long pond studio sessions</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/78552749fa9940dc93f962cdeb1d5467.cnvs.mp4</td>
      <td>Lover</td>
      <td>I Forgot That You Existed</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b68dd6e0dca54df0801c3f2ab7375e56.cnvs.mp4</td>
      <td>Lover</td>
      <td>Cruel Summer</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/f55aa576e3a34c8a954338a1918acd86.cnvs.mp4</td>
      <td>Lover</td>
      <td>Lover</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/ed13545b14334573a085d0c8dee5c9aa.cnvs.mp4</td>
      <td>Lover</td>
      <td>The Man</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/56575ba5d31b4b15921e0f2c00c7ffde.cnvs.mp4</td>
      <td>Lover</td>
      <td>The Archer</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/0b9d83bbe2084520a0c1b9fe0d8600dd.cnvs.mp4</td>
      <td>Lover</td>
      <td>I Think He Knows</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b6587c75e4df4d4eb18628d908ffc459.cnvs.mp4</td>
      <td>Lover</td>
      <td>Miss Americana &amp; The Heartbreak Prince</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/e0cbaa0e5a7a452c87645d9f5ea0ce15.cnvs.mp4</td>
      <td>Lover</td>
      <td>Paper Rings</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/369c26d0c5d542ed904661dc0539a380.cnvs.mp4</td>
      <td>Lover</td>
      <td>Cornelia Street</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/2a5b35cdbfe04976bd427beb747e9d39.cnvs.mp4</td>
      <td>Lover</td>
      <td>Death By A Thousand Cuts</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/f00a91dd2c3f41e0b4f6aff5bd722125.cnvs.mp4</td>
      <td>Lover</td>
      <td>London Boy</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/efa3d3a0ae264547923c010d4a0c8e59.cnvs.mp4</td>
      <td>Lover</td>
      <td>Soon You’ll Get Better (feat. The Chicks)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/b6d85a9483ef483093b7c6ae3eec2a4c.cnvs.mp4</td>
      <td>Lover</td>
      <td>False God</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/c7ab199bf03b415e960631ab2a2b23b4.cnvs.mp4</td>
      <td>Lover</td>
      <td>You Need To Calm Down</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/0d14988736284c7a9f3bdcae9fee21f4.cnvs.mp4</td>
      <td>Lover</td>
      <td>Afterglow</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/c48f6a29ea9f4b969d1bce8529db8527.cnvs.mp4</td>
      <td>Lover</td>
      <td>ME! (feat. Brendon Urie of Panic! At The Disco)</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/3c627950f38f4cb584e0e2caaaf95608.cnvs.mp4</td>
      <td>Lover</td>
      <td>It’s Nice To Have A Friend</td>
    </tr>
    <tr>
      <td>https://canvaz.scdn.co/upload/artist/06HL4z0CvFAxyc27GXpf02/video/4419c4f63cdb486b96c4357410f00346.cnvs.mp4</td>
      <td>Lover</td>
      <td>Daylight</td>
    </tr>
  </tbody>
</table>