<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taylor Swift Spotify Canvas</title>
  <meta name="description" content="Taylor Swift Spotify Canvas">

  <!-- Add styles -->
  <link rel="stylesheet" href="../static/styley.css">

  <!-- Load jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <!-- Load custom script -->
  <script src="../static/scripty.js"></script>
</head>

<body>
  <header>
    <h1>Taylor Swift Spotify Canvas (Beta)</h1>
    <p>Keep scrolling down to see the canvas.</p>
  </header>

  <main>
    <div id="gallery"></div>


    <div class="wrap-infinite-link">
      <a href="#" class="infinite-link">Load more images</a>
    </div>

    <a href="#" id="back2Top" title="Back to top">&#10148;</a>
  </main>

  <footer>
    <p>Development by:</p><p><a href="https://github.com/Vapss">Vapss</a></p>
  </footer>

  <script>
    $(document).ready(function() {
      var csvFile = "../static/canvas.csv";
      var gallery = $("#gallery");

      $.get(csvFile, function(data) {
        var lines = data.split("\n");
        for (var i = 0; i < lines.length; i++) {
          var fields = lines[i+1].split(",");
          if (fields.length === 3) {
            var canvasUrl = fields[0].trim();
            var albumName = fields[1].trim();
            var songName = fields[2].trim();

            var div = $("<div><p>" + songName + "</p><p>" + albumName + "</p></div>");
            var video = $('<video width="320" height="480" muted controls><source src="' + canvasUrl + '" type="video/mp4"></video>');

            gallery.append(div);
            gallery.append(video);
          }
        }
      });
    });
  </script>
</body>
</html>